@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,400;0,600;1,400;1,600&display=swap');
* {
    box-sizing: border-box;
}


/* COLORES PRINCIPALES */

:root {
    --main-color: #344284;
    --lighter-blue: #7C89CB;
    --gray-1: #9C9990;
    --gray-2: #E2E1DF;
    --gray-3: #EBEBEB;
    --highlight-blue: #6F86F0;
    --highlight-green: #85FFC7;
    --highlight-red: #EF8080;
}

body {
    font-family: 'Karla', sans-serif !important;
}


/* VIDEO BACKGROUND */

.video-background {
    background: var(--main-color);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -99;
    height: 100%;
    position: absolute;
}

.video-foreground,
.video-background iframe {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}


/* PROGRAMAS */

.video-topcontent .list-group-item {
    background-color: rgba(0, 0, 0, 0);
    color: white;
}

.vertical-center {
    min-height: 100%;
    /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh;
    /* These two lines are counted as one :-)       */
    display: flex;
    align-items: center;
}

.list-group-item {
    padding: 10px 0 0 0;
    border: 0;
}

.video-infohidden {
    opacity: 0;
    font-size: 30px;
}


/* SOMOS */

#seccionsomos {
    height: 80vh;
}


/* NOTICIAS */

.card {
    max-width: 342px;
}


/* CAMPOS MAGNETICOS */

.agenda-single {
    border: 1px solid var(--main-color);
    padding: 0;
    max-width: 342px;
}

.titulo-agenda {
    width: 60%;
}

.agendar {
    width: 40%;
}

.titulo-agenda,
.agendar {
    height: 60px;
    border: 0;
}

.agendar {
    background-color: var(--highlight-green);
}

.agenda-image {
    height: 260px;
    border-top: 1px solid var(--main-color);
    width: "100%";
}